<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ICON BUTTON</title>
<link rel="stylesheet" href="/css/font-awesome/css/all.css">
<script src="/js/vue/vue.min.js" ></script>
<style type="text/css">
	[v-cloak] {display:none;}
	.iconbutton {color: black; }
	.iconbutton.on { background-color:gray; transition:all 0.1s;}
	.iconbutton:hover {color: orange; }
	.btn {cursor: pointer}
	/*
	.iconbutton.on { color: orange; transition:all 0.1s;}
	.iconbutton:hover { background-color:gray; }
	*/
	.icon-button-text {font-size: 16px;}
</style>
</head>
<body>
<hr/>
<div id="app" v-cloak>   
	<icon-button type="connection"></icon-button>
	<icon-button type="connection" texton="on"></icon-button>
	<icon-button type="download"></icon-button>
	<icon-button type="file"></icon-button>
	<text-button type="connection"></text-button>
</div>
<script type="module">
import IconButton from './IconButton.js';
import TextButton from './TextButton.js';

let vm = new Vue({
	el:'#app'
	,data:{

	}
	,components:{
		IconButton,
		TextButton,
	}
});
</script>
<hr/>


</body>
</html>